


.App {
  text-align: center;
}

.Logo {
  height: 50vmin;
  pointer-events: none;
  display: flex
  

  
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: Logo-spin infinite 20s linear;
  }
}




@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  
  height: 60vmin;
  pointer-events: none;
  display: flex;
  text-align: center;
}


.nav {
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    
  }

 
nav {
  width: 50%;
  height: 50%;
 
}

Link#quizinformation {
  float: left;

}


